.todos{
	margin:auto;
	width: 40%
}

.todo {
	display: flex;
	padding: 10px 15px;
	background-color:  #e8eaea;
	align-items: center;
	color: #217074;
	font-size: 17px
	;
	/* border-bottom: 1px solid #217074; */
}

.todo:nth-child(even) {
	background-color: #FFF;
}

.todo:last-of-type {
	border-bottom: 0;
}

.todo .id {
	flex: 1 1 50px;
}

.todo .content {
	flex: 1 1 100%;
}

.todo.done .content {
	text-decoration: line-through;
}

.todo-input {
	display: block;
	width: 100%;
	padding: 10px 15px;
	appearance: none;
	border: none;
	/* background-color: #EDC5AB; */
	color: #f08640;
	margin-top: 15px;
	font-size: 20px;
	outline: none;
	border-radius: 3px;
	border: 1px solid #f08640
	
}

.todo-submit {
	display: block;
	width: 100%;
	max-width: 200px;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	background-color: #f08640;
	color: #FFF;
	margin: 15px auto;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	border-radius: 4px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #f08640;
	opacity: 1; /* Firefox */
  }